{% extends 'base.html' %}
{% block content %}
<body>
     {% if breakfast_list %}
    <h2 class="py-3">신청 내역</h2>
        <table>
            <tr>
                <th>소속</th>
                <th>이름</th>
                <th>신청 시간</th>
                <th></th>
            </tr>

            {% for breakfast in breakfast_list %}
            <tr>
                <th>{{ breakfast.group }}</th>
                <th>{{ breakfast.name }}</th>
                <th>{{ breakfast.create_date }}</th>
                <th><a href="{% url 'home:breakfast_delete' breakfast.id %}">삭제</a></th>
            </tr>
            {% endfor %}

        </table>
    {% else %}
        <p>질문이 없습니다.</p>
    {% endif %}
</body>
{% endblock %}